.over-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.over-textarea {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ant-select-status-error.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: $color_white !important;
}
