@import '../../assets/style/font';
@import '../../assets/style/colors';

.footer {
    padding: 0 3rem;
    height: 15.6rem;

    color: $color_eerie_black;
    &__logo {
        &--title {
            font-family: $MontserratExtraBold;
            font-size: 1.25rem;
            letter-spacing: 0.05rem;
        }
    }

    &__navbar {
        width: 25rem;
        &--item {
            margin-left: 5rem;
            padding: 0.25rem 0;

            font-weight: 500;
            font-size: 1rem;

            border-bottom: 1px solid $color_white;

            transition: all 750ms;
            &:hover,
            &:focus {
                border-bottom: 1px solid $color_eerie_black;
                transition: all 750ms;
            }
        }
    }

    &__contact {
        &--title {
            font-weight: 500;
            font-size: 1rem;
        }

        &--text {
            margin: 0.25rem 0 0.5rem 1rem;
        }

        &--icon {
            margin-right: 1rem;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}
